{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
	{setup, "2.0.2"},
	{lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.9.1"}}},
	{osmo_ss7, {git, "git://git.osmocom.org/erlang/osmo_ss7", {branch, "master"}}},
	{osmo_gsup,  {git, "git://git.osmocom.org/erlang/osmo_gsup", {branch, "master"}}}
]}.

{minimum_otp_vsn, "20.3"}.
{plugins, [
	{rebar3_diameter_compiler,
	  {git, "https://github.com/carlosedp/rebar3_diameter_compiler.git", {branch, "master"}}}
]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{provider_hooks,
        [{pre,
                [{compile, {diameter, compile}},
                 {clean, {diameter, clean}}
        ]}
]}.

{dia_opts, []}.

{dialyzer, [
	{plt_extra_apps, [kernel, stdlib, erts, tools, inets, compiler, diameter]},
	{warnings, [no_improper_lists]}
	]}.

{escript_incl_apps, [osmo_dia2gsup]}.
{escript_main_app, osmo_dia2gsup}.
{escript_name, "osmo-dia2gsup"}.
